
<% i=0 %> 
<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<h2> About me </h2>
<p> I am a senior majoring in Computer Science at the University of Colorado Colorado Springs. I am experienced in Security, Cloud Infrastructure, and Software Engineering. I have trained to use tools in Oracle and Microsoft Azure. I am passionate about learning and solving real-world problems.</p>

<div class="container">
  <div class="row">
          <% @projects.each do |project| %>
                <div class="col-md-4">          
                  <div class="card bg-light mb-3" style="max-width: 18rem;">
                  <%= image_tag @images[i]  %>
                  <% i = (i + 1).modulo(@images.size) %>

                  <div class="card-body">
                        <h5 class="card-title">  <td><%= project.title %></td></h5>
                        <p class="card-text"><td><%= project.description %></td> <p>
                          <a href="#" class="card-link">          <td><%= link_to 'Show', project, class: "btn btn-info" %></td></a>
                          <% if user_signed_in? %>
                          <a href="#" class="card-link">          <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-info" %></td></a>
                          <a href="#" class="card-link">         <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td></a>
                          <% end %>                      
                          </div>
                  </div>
                </div>
        <% end %>   
    </div>
<br>
<% if user_signed_in? %>
<%= link_to 'Create New Project', new_project_path, class: "btn btn-info"%>
<% end %>                      

